<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.paynav">

    <application
        android:allowBackup="true"
        android:icon="@drawable/paynavlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/paynavlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.PayNav">
        <activity android:name=".Account"></activity>
        <activity android:name=".SecondHome" />
        <activity android:name=".HomeScreen" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>